.card {
  background-color: #FFF;
  height: 200px;
  margin: 0 auto;
  padding: 5px;
  padding-top: 16px;
  margin: 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
}

.btn-load-more {
  box-shadow: 3px 3px 14px 1px rgba(0,0,0,0.75);
}

.card-image {
  max-height: 140px;
  margin: auto;
  display: block;
}

.card-text {
  text-transform: capitalize;
}

.modal-img {
  margin: auto;
  display: block;
}

.container {
  background-color: transparent;
}

#corpo {
  background-color: #EEE;
}

.loader-modal img {
  width: 100px;
  height: auto;
  display: block;
  margin: auto;
}

.loader-page img {
  width: 100px;
  height: auto;
  display: block;
  margin: auto;
}

.load-more .btn{
  display: block;
  margin: auto;
}

.modal-title h1{
  text-align: center;
  text-transform: capitalize;
  font-family: 'Alfa Slab One', cursive;
}

.card-text {
  font-family: 'Alfa Slab One', cursive;
}

.type-text {
  color: white;
}

.grass {
  background-color: #78C850;
  border-radius: 20px;
  text-align: center;
  margin-right: 5px;
}

.poison {
  background-color: #A040A0;
  border-radius: 20px;
  text-align: center;
  margin-right: 5px;
}

.normal {
  background-color: #A8A878;
  border-radius: 20px;
  text-align: center;
  margin-right: 5px;
}

.psychic {
  background-color: #F85888;
  border-radius: 20px;
  text-align: center;
  margin-right: 5px;
}

.ground {
  background-color: #E0C068;
  border-radius: 20px;
  text-align: center;
  margin-right: 5px;
}

.ice {
  background-color: #98D8D8;
  border-radius: 20px;
  text-align: center;
  margin-right: 5px;
}

.fire {
  background-color: #F08030;
  border-radius: 20px;
  text-align: center;
  margin-right: 5px;
}

.rock {
  background-color: #B8A038;
  border-radius: 20px;
  text-align: center;
  margin-right: 5px;
}

.dragon {
  background-color: #7038F8;
  border-radius: 20px;
  text-align: center;
  margin-right: 5px;
}

.water {
  background-color: #6890F0;
  border-radius: 20px;
  text-align: center;
  margin-right: 5px;
}

.bug {
  background-color: #A8B820;
  border-radius: 20px;
  text-align: center;
  margin-right: 5px;
}

.dark {
  background-color: #705848;
  border-radius: 20px;
  text-align: center;
  margin-right: 5px;
}

.fighting {
  background-color: #C03028;
  border-radius: 20px;
  text-align: center;
  margin-right: 5px;
}

.ghost {
  background-color: #705898;
  border-radius: 20px;
  text-align: center;
  margin-right: 5px;
}

.steel {
  background-color: #B8B8D0;
  border-radius: 20px;
  text-align: center;
  margin-right: 5px;
}

.flying {
  background-color: #A890F0;
  border-radius: 20px;
  text-align: center;
  margin-right: 5px;
}

.eletric {
  background-color: #F8D030;
  border-radius: 20px;
  text-align: center;
  margin-right: 5px;
}

.fairy {
  background-color: #EE99AC;
  border-radius: 20px;
  text-align: center;
  margin-right: 5px;
}

.description {
  text-align: justify;
}
